.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.preShow:hover {
    border-width: thick;
}

.thumbnail .caption-full {
    padding: 9px;
}

.comment {
    border-style: solid;
    border-width: thin; 
}
