<% include ../partials/header %> 
     <p>
            <a class="btn btn-primary btn-lg" href="/movies/new">Publish</a>
    </p>
     <div class="row text-center align-items-center" style="display:flex; flex-wrap: wrap;">
        <% movies.forEach(function(movie){ %>
            <div class="col-sm-3" onclick="location.href='/movies/<%= movie._id %>';">
                <div class="thumbnail preShow">
                   <img src="<%= movie.image %>">
                   <div class="caption">
                       <h4><%= movie.name %> (<%= movie.year %>)</h4>
                   </div>
                </div>
            </div>
        <% }); %>
        
        
    </div>

<% include ../partials/footer %>